<mat-grid-list cols="2" rowHeight="500px">
	<mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">

		<div *ngIf="tile.addEdit">
			<app-add-asdf [submitted]="submitted" [user]="user" (isValid)="userValid = $event"
				(userFormValue)="user = $event"></app-add-asdf>
			<!--<app-add [user]=" user" (isValid)="userValid = $event">
				</app-add>
				<h1 *ngIf="isAddMode">Add User</h1>
				<h1 *ngIf="!isAddMode">Edit User</h1>
				<app-add-edit>[user]="user" (isValid)="userValid = $event"</app-add-edit> -->
		</div>


	</mat-grid-tile>
</mat-grid-list>
<button  (click)="onSubmit()">Submit</button>

<!--<div [formGroup]="form">
	<div class="form-group">
		<button [disabled]="isFormValid()" class="btn btn-primary">
        <span *ngIf="isFormValid()" class="spinner-border spinner-border-sm mr-1"></span>
        Save
    </button>
		<a routerLink="/users" class="btn btn-link">Cancel</a>
	</div>
</div>-->